body {
    background-color: #decba1;
    cursor: grab;
    height: 100vh;
    background-image: url("rpsbg.jpg");   
    background-attachment: fixed;
}

::selection {
  background: #4f73ad;
}

header {
    width: 500px;
    background-color: #649cbc;
    min-height: 10vh;
    padding: 50px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 33px;
    text-align: center;
    margin: auto;
    color: white;
    border: 1px solid #30302e;
    border-radius: 10px;
}

.content {
  width: 500px;
  margin: auto;
  padding: 22px;
  background-color: #decba1;
  border: 1px solid #30302e;
  border-radius: 10px;
  padding: 50px;
}

.buttons {
  width: 500px;
  margin: auto;
  display: flex;
  gap: 19px;
  align-content: center;
  text-align: center;
}

.butt {
  padding: 15px 25px;
  font-size: 24px;
  width: 160px;
  cursor: grabbing;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #776f67;
  border: none;
  border-radius: 9px;
  box-shadow: 0 9px #30302e;
}
  
.butt:hover {
  background-color: #649cbc
}

.butt:active {
  background-color: #649cbc;
  box-shadow: 0 5px #30302e;
  transform: translateY(4px);
}

#result {
  padding: 22px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 22px;
  text-align: center;
  margin: auto;
}